<footer class="site-footer">
    <div class="footer-content-container">
        <div class="footer-content">
            <p><i class="{{config.theme.footer_icon}}"></i>&nbsp;{{config.theme.footer_text}}</p>
        </div>
    </div>
</footer> 