<header class="header">
    <div class="breadcrumbs-wrapper">
    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs-navbar-container.html.twig' %}
    {% endif %} 
    </div>
    <div class="buttons-wrapper">
        <ul class="primary-nav-ul">
            <a href="{{ base_url }}/search">
                <li id="search-button" class="navbar-button-li search-button">
                    <i class="fas fa-search search-logo"></i>
                </li>
            </a>
    {% if config.plugins.breadcrumbs.enabled %}
            <li id="toggle-button" class="navbar-button-li menu-button">
                <div class="toggle-button hamburger hamburger--spin-r">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </li>
    {% endif %} 
        </ul>
    </div>
</header>