$font-color: #444;
$nav-primary: #467a91;
$menu-buttons-color: #ccc;
$link-color:$nav-primary;
$link-hover-color:lighten($link-color, 15%);
$primary-lighten-7: lighten($nav-primary, 7%);
$primary-lighten-20: lighten($nav-primary, 20%);
$primary-lighten-30: lighten($nav-primary, 30%);
$primary-lighten-37: lighten($nav-primary, 37%);
$primary-lighten-40: lighten($nav-primary, 40%);
$primary-lighten-45: lighten($nav-primary, 45%);
 
$primary-bg-color: $primary-lighten-45; // for (slideout) menu and panel!!!
 
$navbar-height-dt: 130px; 
$navbar-height-mob: 65px;
$logo-width: 0px;
$z-index-above-all-content: 999; 
$breakpoint-xs-sm: 400px;
$breakpoint-sm-md: 700px;
$breakpoint-lg-xl: 1170px;

$notice-warning: "Warning" !default;
$notice-info: "Info" !default;
$notice-tip: "Tip" !default;
$notice-note: "Note" !default;  

// Hamburger Settings
// ==================================================
$hamburger-padding-x           : 0px;
$hamburger-padding-y           : 0px !default;
$hamburger-layer-width         : 32px !default;  
$hamburger-layer-height        : 5px !default;
$hamburger-layer-spacing       : 5px !default;
$hamburger-layer-color         : $menu-buttons-color;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 1 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
